.gitignore,
.idea
/PackageBundleTest
/output
Client/*.csproj
Client/.idea
Client/AssetBundle
Client/HybridCLRData
Client/Bundles
Client/Library
Client/Logs
Client/obj
Client/Temp
Client/Assembly-CSharp.csproj
Client/Assembly-CSharp-Editor.csproj
Client/Assets/OriginalRes
Client/Assets/Samples/YooAsset
Client/Assets/Samples/YooAsset.meta
Client/Assets/StreamingAssets
Client/*.csproj
Client/Client.sln
Client/UserSettings/Layouts/default-2022.dwlt